@model WA.BooksPlatform.Models.ViewModels.BookVM
@using WA.BooksPlatform.Controllers
@{
    ViewBag.Title = "Chapter";
    var template = (BooksController.ChapterLink)ViewBag.Template;
}
<table class="table">
    @if (!Model.Chapter.Chapter.Count.Equals(0))
    {
        foreach (var item in Model.Chapter.Chapter)
        {
            <tr>
                <th style="font-size:36px">
                    <p class="text-center">@Html.DisplayFor(modelItem => item.Name)</p>
                </th>
            </tr>
            <tr>
                <td>
                    @template.DisplayChapter(item.Artical)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>查無資料</td>
        </tr>
    }
</table>

<nav aria-label="Page navigation">
    <p class="text-center">
        <ul class="pagination">
            <li>
                @if (Model.Chapter.ForPages.NowPage > 1)
                {
                    @Html.ActionLink("上一章", "Chapter", new { pages = Model.Chapter.ForPages.NowPage - 1, bookId = Model.Id })
                }
            </li>
            <li>@Html.ActionLink("選擇章節", "ChooseChapter", new { bookId = Model.Id })</li>
            <li>
                @if (Model.Chapter.ForPages.NowPage < Model.Chapter.ForPages.MaxPage)
                {
                    @Html.ActionLink("下一章", "Chapter", new { pages = Model.Chapter.ForPages.NowPage + 1, bookId = Model.Id })
                }
            </li>
        </ul>
    </p>
</nav>
