@model WA.BooksPlatform.Models.ViewModels.BookVM

@{
    ViewBag.Title = "Index";
}

<div class="row" style="display: flex;">
    <div class="col-md-3">
        <img src="~/Files/BookImages/專題用書本.jpg" style="width:40% ; height:100% ; ">
    </div>
    <div class="col-md-9">
        書名: @Html.DisplayFor(model => Model.Name)
        <br />
        作者: @Html.DisplayFor(modelItem => Model.Author)
        <br />
        分類: @Html.DisplayFor(modelItem => Model.Category.Name)
    </div>
</div>
<div id="font" style="border-style: solid; margin-top:10px; height:350px;">
    簡介: @Html.DisplayFor(modelItem => Model.Blurb)
</div>
<div class="row col-md-12" style="display: flex;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="" id="font" style="left:10px;">
            <a href="/Books/ChooseChapter?bookId=@Model.Id" class="btn btn-default">選擇章節</a>
        </div>
        <div class="" id="font" style="right:50px;">
            <button class="add2Bookshelf btn btn-default" data-id="@Model.Id">加入書架</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".add2Bookshelf").each(function () {
                $(this).on("click", function () {
                    var self = $(this);
                    var bookId = self.attr("data-id");

                    $.get("/Home/AddItem2Bookshelf?bookId=" + bookId, null,
                        function (result) {
                            alert("成功加入書架!")
                        })
                })
            })
        })
    </script>
}
