@model WA.BooksPlatform.Models.ViewModels.ManageAuthorBooksVM

@{
    ViewBag.Title = "Index";
}

<h2>管理作品</h2>

<p>
    @Html.ActionLink("Create New", "BookCreate", "Authors")
</p>

@if (!Model.Books.Count.Equals(0))
{
    <div class="row">
        <table class="table table-hover">
            @foreach (var item in Model.Books)
            {
                <tr>
                    <th>
                        <a href="/Books/Index?bookId=@item.Id">
                            <img src="~/Files/BookImages/專題用書本.jpg" style="width:30% ; height:100px ; object-fit:cover;">
                        </a>
                    </th>
                    <td>
                        <a href="/Books/Index?bookId=@item.Id">@item.Name</a>
                    </td>
                    <td>
                        作者：@Html.DisplayFor(modelItem => item.Author)
                        <br />
                        總字數：@Html.DisplayFor(modelItem => item.TotalWord)
                    </td>
                    <td>
                        簡介：<br />
                        @Html.DisplayFor(modelItem => item.BirefBlurb)
                    </td>
                    <td>
                        <button class="btn btn-primary EditItem" data-id="@item.Id">編輯</button>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <tr>
        <td>暫無書籍</td>
    </tr>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            @if (Model.ForPages.NowPage > 1)
            {
                @Html.ActionLink("<< ", "Index", new { pages = 1 })
                @Html.ActionLink("<", "Index", new { pages = Model.ForPages.NowPage - 1 })
            }
        </li>
        @for (var intPage = (Model.ForPages.NowPage - 6); intPage < (Model.ForPages.NowPage + 6); intPage++)
        {
            if ((intPage > 0) && (intPage <= Model.ForPages.MaxPage))
            {
                if (intPage == Model.ForPages.NowPage)
                {
                    <li class="active">
                        @Html.ActionLink(intPage.ToString(), "Index", new { pages = intPage })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(intPage.ToString(), "Index", new { pages = intPage })
                    </li>
                }
            }
        }
        <li>
            @if (Model.ForPages.NowPage < Model.ForPages.MaxPage)
            {
                @Html.ActionLink(">", "Index", new { pages = Model.ForPages.NowPage + 1 })
                @Html.ActionLink(" >>", "Index", new { pages = Model.ForPages.MaxPage })
            }
        </li>
    </ul>
</nav>
