<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>閱讀平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LOGO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <form action="/Home/CategoryBooks">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("分類", "Category", "Home")</li>
                        <li><input type="text" name="Search" id="Search" style="margin-top:10px" /></li>
                        <li><input type="submit"value="搜尋" class="btn-link" style="margin-top:10px"></li>
                    </ul>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Members/Index/">@User.Identity.Name</a></li>
                        <li>@Html.ActionLink("登出", "Logout", "Members")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("註冊", "Register", "Members")</li>
                        <li>@Html.ActionLink("登入", "Login", "Members")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav nav-justified nav-tabs">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("排行", "Rank", "Home")</li>
                    <li>@Html.ActionLink("書架", "Bookshelf", "Home")</li>
                    <li>@Html.ActionLink("個人資訊", "Index", "Members")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 閱讀平台</p>
        </footer>
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
