@model WA.BooksPlatform.Models.ViewModels.BookshelfVM

@{
    ViewBag.Title = "Bookshelf";
}

<h2>書架</h2>

@if (!Model.Books.Count.Equals(0))
{
    <div class="row">
        <table class="table table-hover">
            @foreach (var item in Model.Books)
            {
                <tr>

                    <th>
                        <a href="/Books/Index?bookId=@item.Book.Id">
                            <img src="~/Files/BookImages/專題用書本.jpg" style="width:30% ; height:100px ; object-fit:cover;">
                        </a>
                    </th>
                    <td>
                        <a href="/Books/Index?bookId=@item.Book.Id">@item.Book.Name</a>
                    </td>
                    <td>
                        作者：@Html.DisplayFor(modelItem => item.Book.Author)
                        <br />
                        總字數：@Html.DisplayFor(modelItem => item.TotalWord)
                    </td>
                    <td>
                        簡介：<br />
                        @Html.DisplayFor(modelItem => item.Book.BirefBlurb)
                    </td>
                    <td>
                        <button class="btn btn-danger delectItem" data-id="@item.Id">刪除</button>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <tr>
        <td>暫無書籍</td>
    </tr>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            @if (Model.ForPages.NowPage > 1)
            {
                @Html.ActionLink("<< ", "Bookshelf", new { pages = 1 })
                @Html.ActionLink("<", "Bookshelf", new { pages = Model.ForPages.NowPage - 1 })
            }
        </li>
        @for (var intPage = (Model.ForPages.NowPage - 6); intPage < (Model.ForPages.NowPage + 6); intPage++)
        {
            if ((intPage > 0) && (intPage <= Model.ForPages.MaxPage))
            {
                if (intPage == Model.ForPages.NowPage)
                {
                    <li class="active">
                        @Html.ActionLink(intPage.ToString(), "Bookshelf", new { pages = intPage })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(intPage.ToString(), "Bookshelf", new { pages = intPage })
                    </li>
                }
            }
        }
        <li>
            @if (Model.ForPages.NowPage < Model.ForPages.MaxPage)
            {
                @Html.ActionLink(">", "Bookshelf", new { pages = Model.ForPages.NowPage + 1 })
                @Html.ActionLink(" >>", "Bookshelf", new { pages = Model.ForPages.MaxPage })
            }
        </li>
    </ul>
</nav>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".delectItem").each(function () {
                $(this).on("click", function () {
                    var del = $(this);
                    var bookId = del.attr("data-id");

                    $.get("/Home/DelectItem2Bookshelf?bookId=" + bookId, null,
                        function () {
                            location.reload();
                        })
                })
            })

        })
    </script>
}
