@model WA.BooksPlatform.Models.ViewModels.BookSearchVM
@using WA.BooksPlatform.Controllers
@{
    ViewBag.Title = "CategoryBooks";
    var categoryLink = (HomeController.CategoryLink)ViewBag.CategoryLink;
}
<style>
    #font {
        font-size: 20px;
        color: #000000;
    }
</style>

<h2>尋找書籍</h2>
<table class="table">
    <tr><td>搜尋內容：@Model.Search</td></tr>
    <tr>
        @foreach (var item in Model.Category)
        {
            <td>@categoryLink.Category(item.Id, item.Name, Model.Search, 1)</td>
        }
        <td><a href="/Home/CategoryBooks?categoryId=&search=&pages=1" class="btn btn-primary">清除搜尋結果</a></td>
    </tr>
</table>

@if (!Model.Books.Count.Equals(0))
{
    <table class="table table-hover">
        @foreach (var item in Model.Books)
        {
            <tr>
                
                <th>
                    <a href="/Books/Index?bookId=@item.Id">
                        <img src="~/Files/BookImages/專題用書本.jpg" style="width:30% ; height:100px ; object-fit:cover;">
                    </a>
                </th>
                    <td>
                        <a href="/Books/Index?bookId=@item.Id">@item.Name</a>
                    </td>
                    <td>
                        作者：@Html.DisplayFor(modelItem => item.Author)
                        <br />
                        總字數：@Html.DisplayFor(modelItem => item.TotalWord)
                        <br />
                        分類：@Html.DisplayFor(modelItem => item.Category)
                    </td>
                <td>
                    簡介：<br />
                    @Html.DisplayFor(modelItem => item.BirefBlurb)
                </td>
                <td>
                </td>
            </tr>
        }
    </table>
@*<div class="row " id="font">
    @foreach (var item in Model.Books)
    {
        <a href="/Books/Index?bookId=@item.Id">
            <div class="row col-md-12">
                <div class="col-md-3">
                    <img src="~/Files/BookImages/專題用書本.jpg" style="width: 100%; height: 100%" />
                </div>
                <div class="col-md-9">
                    <h4>@item.Name</h4>
                    作者：@item.Author 
                    <br/>
                    總字數：@item.TotalWord
                    <br/>
                    分類：@item.Category
                    <br />
                    簡介：@item.BirefBlurb
                </div>
            </div>
        </a>
        <hr />
     }
</div>*@
}
else
{
    <tr>
        <td>查無資料</td>
    </tr>
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            @if (Model.ForPages.NowPage > 1)
            {
                @Html.ActionLink("<< ", "CategoryBooks", new { pages = 1, categoryId=Model.CategoryId, search = Model.Search })
                @Html.ActionLink("<", "CategoryBooks", new { pages = Model.ForPages.NowPage - 1, categoryId = Model.CategoryId, search = Model.Search })
            }
        </li>
        @for (var intPage = (Model.ForPages.NowPage - 6); intPage < (Model.ForPages.NowPage + 6); intPage++)
        {
            if ((intPage > 0) && (intPage <= Model.ForPages.MaxPage))
            {
                if (intPage == Model.ForPages.NowPage)
                {
                    <li class="active">
                        @Html.ActionLink(intPage.ToString(), "CategoryBooks", new { pages = intPage, categoryId = Model.CategoryId, search = Model.Search })
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(intPage.ToString(), "CategoryBooks", new { pages = intPage, categoryId = Model.CategoryId, search = Model.Search })
                    </li>
                }
            }
        }
        <li>
            @if (Model.ForPages.NowPage < Model.ForPages.MaxPage)
            {
                @Html.ActionLink(">", "CategoryBooks", new { pages = Model.ForPages.NowPage + 1, categoryId = Model.CategoryId, search = Model.Search })
                @Html.ActionLink(" >>", "CategoryBooks", new { pages = Model.ForPages.MaxPage, categoryId = Model.CategoryId, search = Model.Search })
            }
        </li>
    </ul>
</nav>
